@import url("reset.css");

@import url("normalize.css");

@import url("bootstrap-theme.min.css");

@import url("bootstrap.min.css");
a,
a:hover,
a:focus,
a:active {
  cursor: pointer;
  text-decoration: none;
}
